<!DOCTYPE html>
<html>
<head>
    <title>Web Application</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <section>
        @RenderBody()
    </section>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts",false)
</body>
</html>