@section Scripts {
    <script src="~/clientapp/runtime-es2015.js"></script>
    <script src="~/clientapp/polyfills-es2015.js"></script>
    <script src="~/clientapp/styles-es2015.js"></script>
    <script src="~/clientapp/vendor-es2015.js"></script>
    <script src="~/clientapp/main-es2015.js"></script>
}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>ASP .NET Core - Angular Demo</h1>
    </div>
</div>
<app-root></app-root>