<script src="~/clientapp/runtime-es2015.js" type="module"></script>
<script src="~/clientapp/runtime-es5.js" nomodule></script>
<script src="~/clientapp/polyfills-es2015.js" type="module"></script>
<script src="~/clientapp/polyfills-es5.js" nomodule></script>
<script src="~/clientapp/styles-es2015.js" type="module"></script>
<script src="~/clientapp/styles-es5.js" nomodule></script>
<script src="~/clientapp/vendor-es2015.js" type="module"></script>
<script src="~/clientapp/vendor-es5.js" nomodule></script>
<script src="~/clientapp/main-es2015.js" type="module"></script>
<script src="~/clientapp/main-es5.js" nomodule></script>
<app-root></app-root>
<h1>test</h1>